{% extends 'layout.html' %}
{% load static %}

{% block style_components %}
    <link href="{% static 'main/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}"
          rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
          rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}"
          rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"
          rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/assets/global/plugins/clockface/css/clockface.css' %}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block title %}
    Crear Nuevo Trabajador
{% endblock %}

{% block content %}
    <div class="page-content-inner">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase">Nuevo Trabajador</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="" method="post" role="form" class="form-horizontal margin-bottom-40">
                    {% csrf_token %}
                    <div class="form-body">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">Nombres y Apellidos</label>
                            <div class="col-md-4">
                                <div class="input-icon">
                                    {{ form.first_name }}
                                    <div class="form-control-focus"></div>
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <i class="validate fa"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <div class="col-md-offset-2 col-md-4">
                                <div class="input-icon">
                                    {{ form.last_name }}
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <i class="validate fa"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">Fecha de Nacimiento</label>
                            <div class="col-md-4">
                                <div class="input-icon">
                                    {{ form.birthday }}
                                    <div class="form-control-focus"></div>
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <i class="validate fa"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">DNI</label>
                            <div class="col-md-4">
                                <div class="input-icon">
                                    {{ form.document }}
                                    <div class="form-control-focus"></div>
                                    <i class="fa fa-credit-card"></i>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <i class="validate fa"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">Cargo</label>
                            <div class="col-md-4">
                                <div class="input-icon">
                                    {{ form.charge }}
                                    <div class="form-control-focus"></div>
                                    <i class="fa fa-tag"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">Tipo de Licencia</label>
                            <div class="col-md-4">
                                <div class="input-icon">
                                    {{ form.license_type }}
                                    <div class="form-control-focus"></div>
                                    <i class="fa fa-newspaper-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">Núm. de Licencia</label>
                            <div class="col-md-4">
                                <div class="input-icon">
                                    {{ form.license }}
                                    <div class="form-control-focus"></div>
                                    <i class="fa fa-list-alt"></i>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <i class="validate fa"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label">Celular</label>
                            <div class="col-md-4">
                                <div class="input-icon">
                                    {{ form.telephone }}
                                    <div class="form-control-focus"></div>
                                    <i class="fa fa-phone"></i>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <i class="validate fa"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="submit" class="btn green-jungle">
                                    <span class="fa fa-save"></span>
                                    Guardar
                                </button>
                                <a href="{% url 'main_worker_list' %}" class="btn default">
                                    Cancelar
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_components %}
    <script src="{% static 'main/assets/global/plugins/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
    <script src="{% static 'main/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/assets/global/plugins/jquery-inputmask/inputmask/inputmask.date.extensions.min.js' %}"></script>
    <script src="{% static 'main/assets/global/plugins/jquery-inputmask/inputmask/inputmask.regex.extensions.min.js' %}"></script>
{% endblock %}

{% block script_level %}
    <script>
        $(document).ready(function () {
            var validate = function (id, valid) {
                var selector = $('#' + id).parents('.form-group');
                var v = selector.find('.validate');

                if (id == 'id_first_name') {
                    if ($('#id_first_name').val() == '') {
                        valid = false;
                    }
                }

                if (id == 'id_last_name') {
                    if ($('#id_last_name').val() == '') {
                        valid = false;
                    }
                }

                if (valid) {
                    selector.addClass('has-success').removeClass('has-error');
                    v.removeClass('fa-close').removeClass('font-red-thunderbird').addClass('fa-check').addClass('font-green-jungle');
                } else {
                    selector.addClass('has-error').removeClass('has-success');
                    v.removeClass('fa-check').removeClass('font-green-jungle').addClass('fa-close').addClass('font-red-thunderbird');
                }
            };

            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                defaultViewDate: {
                    day: 1,
                    month: 0,
                    year: 1990
                },
                orientation: "left",
                endDate: '-18y',
                startDate: '-60y',
                language: 'es'
            }).on('changeDate', function (e) {
                validate('id_birthday', true);
            }).inputmask("y-m-d", {
                "placeholder": "aaaa-mm-dd",
                "onincomplete": function () {
                    validate('id_birthday', false);
                },
                "oncomplete": function () {
                    validate('id_birthday', true);
                },
                "oncleared": function () {
                    validate('id_birthday', false);
                }
            });
            $('#id_first_name').inputmask("Regex", {
                "regex": "[A-Za-z]+|[A-Za-z]+\\s[A-Za-z]+",
                "onincomplete": function () {
                    validate('id_first_name', false);
                },
                "oncomplete": function () {
                    validate('id_first_name', true);
                },
                "oncleared": function () {
                    validate('id_first_name', true);
                }
            });
            $('#id_last_name').inputmask("Regex", {
                "regex": "[A-Za-z]+|[A-Za-z]+\\s[A-Za-z]+",
                "onincomplete": function () {
                    validate('id_last_name', false);
                },
                "oncomplete": function () {
                    validate('id_last_name', true);
                },
                "oncleared": function () {
                    validate('id_last_name', true);
                }
            });
            $('#id_document').inputmask({
                "mask": "99999999",
                "onincomplete": function () {
                    validate('id_document', false);
                },
                "oncomplete": function () {
                    validate('id_document', true);
                }
            });
            $('#id_license').inputmask({
                "mask": "A99999999",
                "onincomplete": function () {
                    validate('id_license', false);
                },
                "oncomplete": function () {
                    validate('id_license', true);
                }
            });
            $('#id_telephone').inputmask({
                "mask": "999 999 999",
                "onincomplete": function () {
                    validate('id_telephone', false);
                },
                "oncomplete": function () {
                    validate('id_telephone', true);
                }
            });
        });
    </script>
{% endblock %}